@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
    font-family: 'Inter', sans-serif;
}

.header-padding {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
}
.header-border {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;

}
.c-padding {
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
}
.btn-padding {
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
}
/* .sticky {
    position: sticky;
    top: 0;
}
.fixed {
    position: fixed;
    top: 0;
} */
